@model WMS_Application.Models.LoginModel;
@{
    Layout = "/Views/Shared/_mainLayout.cshtml";
    // Layout = null;
    ViewData["Title"] = "Login";
}
<html lang="en">
<head>
    <title>Register for WMS</title>
    <style>
        label.error {
            color: red !important;
        }
    </style>
</head>
<body class="account-page">
    <div class="main-wrapper">
        <div class="account-content">
            <div class="login-wrapper">
                <div class="login-content">
                    <div class="login-userset">
                        <div class="login-userheading">
                            <h3>Sign In</h3>
                            <h4>Please login to your account</h4>
                        </div>
                        <form id="loginForm">
                        <div class="form-login">
                            <label>Email/Username</label>
                            <div class="form-addons">
                                <input type="text" asp-for="EmailOrUsername" placeholder="Enter your email or Username here ">
                                <img src="~/assets/img/icons/mail.svg" alt="img">
                            </div>
                        </div>
                        <div class="form-login">
                            <label>Password</label>
                            <div class="pass-group">
                                <input type="password" asp-for="Password" class="pass-input" placeholder="Enter your password">
                                <span class="fas toggle-password fa-eye-slash"></span>
                            </div>
                        </div>
                        
                            <div class="pass-group">
                                <input type="checkbox" asp-for="RememberMe"> Remember Me
                            </div>
                        <div class="form-login">
                            <div class="alreadyuser">
                                <h4><a href="~/Auth/ForgotPassword" class="hover-a">Forgot Password?</a></h4>
                            </div>
                        </div>
                        <div class="form-login">
                                <button type="submit" id="btnLogin" class="btn btn-login">
                                    <span class="spinner-border spinner-border-sm d-none" id="btnLoader" role="status" aria-hidden="true"></span>
                                    Sign In
                                </button>
                        </div>
                        </form>
                        <div class="signinform text-center">
                            <h4>Don’t have an account? <a href="~/Auth/Register" class="hover-a">Sign Up</a></h4>
                        </div>
                        <div class="form-setlogin">
                            <h4>Or sign up with</h4>
                        </div>
                        <div class="form-sociallink">
                            <ul>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/google.png" class="me-2" alt="google">
                                        Sign Up using Google
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="~/assets/img/icons/facebook.png" class="me-2" alt="google">
                                        Sign Up using Facebook
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="login-img">
                    <img src="~/assets/img/login.jpg" alt="img">
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <script src="/js/Login.js"></script>
    }
</body>
</html>