@model WMS_Application.Models.TblUser

@{
    Layout = "/Views/Shared/_mainLayout.cshtml";
    ViewData["Title"] = "OTP Verification";

}


<html lang="en">
<head>
    <title>Register for WMS</title>
    <style>
        label.error {
            color: red !important;
        }
    </style>
</head>
<body class="account-page">
    <div class="main-wrapper">
        <div class="account-content">
            <div class="login-wrapper">
                <div class="login-content">
                    <div class="login-userset">
                        <form id="OtpCheck">
                            <div class="login-logo">
                            </div>
                            <div class="login-userheading">
                                <h3>OTP Verification</h3>
                            </div>
                            <div class="form-login">
                                <label>Email</label>
                                <div class="form-addons">
                                    <input asp-for="Email" value="@Context.Session.GetString("UserEmail")" readonly />
                                    <img src="~/assets/img/icons/mail.svg" alt="img">
                                </div>
                            </div>
                            <div class="form-login">
                                <label>OTP</label>
                                <div class="form-addons">
                                    <input asp-for="Otp" placeholder="Enter your OTP here">
                                </div>
                            </div>
                            <div class="form-login">
                                <p id="timer" style="font-size: 14px; color: gray;">Time remaining: 01:00</p> <!-- Timer Display -->
                            </div>
                            <div class="form-login">
                                <button type="submit" id="btnVerify" class="btn btn-login">
                                    <span class="spinner-border spinner-border-sm d-none" id="btnLoader" role="status" aria-hidden="true"></span>
                                    Verify
                                </button>
                            </div>
                            <div id="resend-section" style="display: none; margin-top: 10px;">
                                <button id="resend-btn" class="btn btn-secondary">Resend OTP</button>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="login-img">
                    <img src="~/assets/img/login.jpg" alt="img">
                </div>
            </div>
        </div>
    </div>
    @section Scripts {
        <script src="~/js/Register.js"></script>
    }
</body>
</html>