@model WMS_Application.Models.User;
@{
    Layout = "/Views/Shared/_mainLayout.cshtml";
    // Layout = null;
    ViewData["Title"] = "Reset Password";
}
<html lang="en">
<head>
    <title>Register for WMS</title>
    <style>
        label.error {
        color: red !important;
        }
    </style>
    <script>
        // Function to show an alert and redirect
        function showAlertAndRedirect(message, redirectUrl) {
        alert(message);
        window.location.href = redirectUrl;
        }
    </script>
</head>
<body class="account-page">
    <div class="main-wrapper">
        <div class="account-content">
            <div class="login-wrapper">
                <div class="login-content">
                    <div class="login-userset">
                        <div class="login-userheading">
                            <h4>Change Password</h4>
                        </div>

                        @if ((bool)ViewBag.InvalidToken)
                        {
                            <script>
                                // Trigger the alert and redirect to the login page
                                showAlertAndRedirect(
                                "The reset link is invalid or has expired. Please log in to request a new password reset link.",
                                "/Auth/Login"
                                );
                            </script>
                        } else {

                        <form id="ResetPassword">
                            <div class="form-login">
                                <label>Password</label>
                                <div class="form-addons">
                                    <input type="text" asp-for="PasswordHash" placeholder="Enter your Password">
                                    <img src="~/assets/img/icons/mail.svg" alt="img">
                                </div>
                            </div>
                            <div class="form-login">
                                <label>Password</label>
                                <div class="pass-group">
                                    <input type="text" asp-for="ConfirmPassword" class="pass-input" placeholder="Enter your Confirm password">
                                    <span class="fas toggle-password fa-eye-slash"></span>
                                </div>
                            </div>
                            <div class="form-login">
                                <button type="submit" id="btnSubmit" class="btn btn-login">Change Password</button>
                            </div>
                        </form>
                        }
                    </div>
                </div>
                <div class="login-img">
                    <img src="~/assets/img/login.jpg" alt="img">
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <script src="/js/Login.js"></script>
    }
</body>
</html>