@model WMS_Application.Models.User

@{
    Layout = "/Views/Shared/_mainLayout.cshtml";
    ViewData["Title"] = "More Details";
}
<html lang="en">
<head>
    <title>Register for WMS</title>
    <link rel="stylesheet" href="~/css/MoreDetails.css" />

</head>
<body class="account-page">

    <div class="main-wrapper">
        <div class="account-content">
            <div class="login-wrapper">
                <div class="login-content">
                    <div class="login-userset">
                        <form id="moreDetails" enctype="multipart/form-data">
                            <div class="login-logo">
                            </div>

                            <div class="card">
                                <div class="card-body">
                                <div class="login-userheading">
                                    <h3>More Details</h3>
                                </div>
                                        <div class="row">
                                            <form id="MoreDetailsForm" enctype="multipart/form-data">
                                            <div class="col-lg-8 col-sm-9 col-12">
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <input type="text" asp-for="Email" value="@Context.Session.GetString("UserEmail")" readonly>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-9 col-12">
                                                <div class="form-login">
                                                    <label>Date Of Birth</label>
                                                    <input type="date" asp-for="DateOfBirth" >
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-9 col-12">
                                                <div class="form-group">
                                                    <label>First Name</label>
                                                    <input type="text" asp-for="FirstName" placeholder="Enter First Name">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-9 col-12">
                                                <div class="form-group">
                                                    <label>Last Name</label>
                                                    <input type="text" asp-for="LastName" placeholder="Enter Last Name">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-login">
                                                    <label>Phone Number</label> 
                                                    <input type="tel" asp-for="PhoneNumber" id="PhoneNumber" placeholder="Enter Phone Number">
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="form-group">
                                                    <label> Profile Image</label>
                                                    <div class="image-upload">
                                                        <input type="file" asp-for="ProfileImage">
                                                        <div class="image-uploads">
                                                            <img src="~/assets/img/icons/upload.svg" alt="img">
                                                            <h4>Drag and drop a file to upload</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="image-preview-container">
                                                    <img src="#" alt="Image Preview" id="imagePreview" style="display: none;" />
                                                    <p id="imagePreviewText">No image selected</p>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <button type="submit" id="btnMoreDetails" class="btn btn-submit me-2">Next</button>
                                                </div>
                                            </div>
                                        </form>
                                        </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="login-img">
                    <img src="~/assets/img/login.jpg" alt="img">
                </div>
            </div>
        </div>
    </div>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
        <script src="~/js/MoreDetails.js"></script>
    }
</body>
</html>















