@model WMS_Application.Models.TblUser;

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/ImagePreview.css" />


@* <div id="global-loader"> *@
@*     <div class="whirly-loader"> </div> *@
@* </div> *@

<div class="main-wrapper">

    <div class="page-wrapper">
        <div class="content">
            <div class="page-header">
                <div class="page-title">
                    <h4 id="UserHeadingAdmin">Owner Management</h4>
                    <h4 id="UserHeadingEmployee">Employee Management</h4>
                    <h6>Add/Update User</h6>
                </div>
                <a class="btn" id="massEmployee"
                   data-bs-toggle="modal"
                   data-bs-target="#recents">
                    <img src="~/assets/img/icons/transcation.svg"
                         alt="img"
                         class="me-1" />
                    Mass Import Employees
                </a>
            </div>

            <div class="card">
                <form enctype="multipart/form-data" id="SaveAdmin">
                    <div class="card-body">
                        <div class="row">

                            <input type="text" asp-for="UserId" readonly hidden="true">
                            <input type="text" asp-for="CreatedAt" readonly hidden="true">
                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" asp-for="FirstName">
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" asp-for="LastName">
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>User Name</label>
                                    <input type="text" asp-for="Username">
                                </div>
                            </div>

                            @if (Model == null || Model.UserId == 0)
                            {
                                <div class="col-lg-3 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label>Password</label>
                                        <div class="pass-group">
                                            <input type="password" class="pass-input" asp-for="PasswordHash">
                                            <span class="fas toggle-password fa-eye-slash"></span>
                                        </div>
                                    </div>
                                </div>
                            }
                            
                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input type="text" asp-for="PhoneNumber">
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" asp-for="Email" readonly="@(Model.UserId != 0)" />
                                </div>
                            </div>
                            @* <div class="col-lg-3 col-sm-6 col-12"> *@
                            @*     <label>User Type</label> *@
                            @*     <div class="col-md-10"> *@
                            @*         <div class="radio"> *@
                            @*                 <input type="radio" name="role" id="rdAdmin" value="Admin"> Admin   *@
                            @*                 <input type="radio" name="role" id="rdEmployee" value="Employee"> Employee *@
                            @*         </div> *@
                            @*     </div> *@
                            @* </div> *@
                            <input type="hidden" id="RoleId" name="RoleId" value="@Model.RoleId" />


                            <div class="col-lg-3 col-sm-6 col-12" id="designationDropdown">
                                <div class="form-group">
                                    <label>Employee Designation</label>
                                    <select class="select" id="designation">
                                        <option value="">--Select Designation--</option>
                                        @foreach (var role in (List<TblRole>)ViewBag.Roles) 
                                        { 
                                             <option value="@role.RoleId">@role.RoleName</option> 
                                        } 
                                    </select> 
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="form-group">
                                        <label> User Image</label>
                                        <div class="image-upload">
                                            <input type="file" asp-for="ProfileImage">
                                            <div class="image-uploads">
                                                <img src="~/assets/img/icons/upload.svg" alt="img">
                                                <h4>Drag and drop a file to upload</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="image-preview-container">
                                        <img src="#" alt="Image Preview" id="imagePreview" style="display: none;" />
                                        <p id="imagePreviewText">No image selected</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <button type="submit" id="btnSubmit" class="btn btn-submit me-2">
                                    <span class="spinner-border spinner-border-sm d-none" id="btnLoader" role="status" aria-hidden="true"></span>
                                    Submit
                                </button>
                                <a href="~/Admins" id="CancelAdmin" class="btn btn-cancel">Cancel</a>
                                <a href="~/Employees" id="CancelEmployee" class="btn btn-cancel">Cancel</a>
                            </div>

                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


@* Model For Buying Requests *@
<div class="modal fade" id="recents" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold">Mass Import Shop Products</h5>
                <button type="button"
                        class="close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <a href="/Employee/DownloadSampleFile" class="btn btn-primary mb-3">
                    <i class="fas fa-download"></i> Download Sample File
                </a>

                <form id="uploadForm" enctype="multipart/form-data" class="p-3 border rounded shadow-sm bg-light">
                    <label for="excelFile" class="form-label fw-semibold">Upload Excel File</label>
                    <input type="file" id="excelFile" name="excelFile" class="form-control mb-3" required />

                    <label for="imageZip" class="form-label fw-semibold">Upload Image Zip File</label>
                    <input type="file" id="imageZip" name="imageZip" class="form-control mb-3" required />
                    <button type="submit" class="btn btn-success w-100">
                        <i class="fas fa-upload"></i> Submit
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/SaveAdmin.js"></script>

    <script>
        $("#uploadForm").submit(function (e) {
            e.preventDefault();

            var formData = new FormData(this);

            $.ajax({
                url: "/Employee/UploadSampleFile", // Replace with your controller
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            icon: "success",
                            title: "Success!",
                            text: response.message,
                            showDenyButton: true,
                            confirmButtonText: "Download File",
                            denyButtonText: "Close"
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // Trigger file download
                                var fileBytes = atob(response.fileData);
                                var blob = new Blob([new Uint8Array([...fileBytes].map(c => c.charCodeAt(0)))], { type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" });
                                var link = document.createElement("a");
                                link.href = window.URL.createObjectURL(blob);
                                link.download = response.fileName;
                                link.click();
                            }
                        });
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Error!",
                            text: response.message,
                        });
                    }
                },
                error: function () {
                    Swal.fire({
                        icon: "error",
                        title: "Error!",
                        text: "Something went wrong. Please try again.",
                    });
                }
            });
        });
    </script>
}